# Archivos sensibles
/src/main/resources/application.properties

# Archivos generados por Maven
/target/

# Archivos específicos de IDEs (si usas Eclipse o IntelliJ)
*.iml
.idea/
.classpath
.project
.settings/

# Archivos de Docker locales
/docker-data/

# Logs y temporales
*.log
*.tmp
