# Archivos sensibles
**/application-local.properties
.env

# Archivos generados por Maven
/target/

# Archivos específicos de IDEs
*.iml
.idea/
.classpath
.project
.settings/

# Archivos de Docker
/docker-data/

# Logs y temporales
*.log
*.tmp
*.swp
*.bak
*.orig
